.wrapper {
  display: flex;
  padding: 0px 80px;
  margin: 20px 0;

  .category {
    padding: 15px 30px;
    background-color: #facf5e;
    border-radius: 30px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: darken(#facf5e, 20%);
    }

    &.active {
      background-color: #fb6e3b;
      color: white;
    }
  }
}
