
$primary-color: #facf5e;
$primary-color-contrast: #fb6e3b;
$primary-color-light: #fef7ec;

$secondary-color: #503f9d;
$secondary-color-light: #aaa7bb;

$tertiary-color: #d2d3d7;
$tertiary-color-lighten: #f2f2f2;

$primary-font-color: #2c2c2c;
$secondary-font-color: #696969;
$success: #00c853;
