$input-height: 60px;

.custom-input {
  outline: none;
  height: $input-height;
  padding: 15px 30px;
  border-radius: 60px;
  width: 100%;
  background-color: $tertiary-color-lighten;
  font-size: 14px;
  font-weight: bold;
  color: $secondary-font-color;
  border: 2px solid transparent;
}

.custom-input:focus {
  background-color: white;
  border: 2px solid $primary-color;
  color: $primary-font-color;
}

.input-with-icon {
  position: relative;
  height: $input-height;
  min-width: 400px;

  .input-icon {
    display: block;
    position: absolute;
    padding: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &__start {
      left: 0;
    }

    &__end {
      right: 0;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 15px 60px;
  }
}

.primary-btn {
  padding: 15px 30px;
  background-color: #facf5e;
  border-radius: 30px;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover {
    background-color: darken(#facf5e, 20%);
  }

  &.active {
    background-color: #fb6e3b;
    color: white;
  }
}
