.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px 80px;
  border-bottom: 1px solid #f3f3f3;

  .logo {
    height: 40px;
    margin-right: 80px;
  }

  .search-input {
    width: 600px;
    font-size: 16px;
  }

  &-controls {
    display: flex;
    align-items: center;

    > * {
      margin-right: 16px;
    }
  }
}
