@import "src/styles/colors";

.recipe-box {
  flex: 26%;
  padding: 20px 10px;
  cursor: pointer;

  .title {
    margin: 10px 0;
  }

  .image {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;

    .time {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 10px 20px;
      background-color: $tertiary-color-lighten;
      border-top-right-radius: 20px;
    }
  }

  .item-info {
    display: flex;
    align-items: center;
    .score {
      font-weight: bold;
      margin-right: 15px;
      &-icon {
        color: $primary-color;
      }
    }

    .label {
      display: block;
      color: $secondary-font-color;
      white-space: nowrap;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      font-weight: bold;
      margin-right: 10px;
    }

    .price {}

  }

}
