@import "src/styles/colors";

.details-title {
  font-size: 40px;
  font-weight: bold;
  border-left: 10px $primary-color solid;
  padding-left: 20px;
  margin-top: 40px;
}

.recipe-main-details {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 32px 80px;
  margin-bottom: 40px;
  justify-content: space-between;

  .recipe-image {
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

    &-wrapper {
      width: 50vh;
      height: 50vh;
      border-radius: 50%;
      position: relative;
      z-index: -2;

      &:after {
        width: 60vh;
        height: 60vh;
        content: " ";
        border-radius: 50%;
        position: absolute;
        left: -5vh;
        top: -5vh;
        border: 5px solid $secondary-color;
        z-index: -2;
      }
    }
  }
}

.details-tags {
  margin: 24px 80px;
}

.details-wrapper {
  height: calc(100vh - 80px);
  overflow: auto;
}

.recipe-details-label {
  display: inline-block;
  background-color: $tertiary-color;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 16px;
  margin-right: 8px;
}

.main-details-block {
  display: flex;
  align-items: center;

  .details-icon {
    height: 30px;
    width: 30px;
    margin-right: 24px;
    font-size: 30px;
    color: $primary-font-color;
    position: relative;

    &:after {
      content: " ";
      position: absolute;
      right: -8px;
      bottom: 0px;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: $primary-color;
      z-index: -2;
    }
  }

  p {
    font-size: 20px;
  }
}

.details-description-section {
  background-color: $tertiary-color-lighten;
  padding: 32px 80px;

  &--title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: $secondary-font-color;
  }
}

.cooking-timeline-item {

  display: flex;
  margin-bottom: 16px;

  .number {
    font-size: 30px;
    margin-right: 20px;
    line-height: 100%;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: $secondary-font-color;
  }

  .description {
    margin: 0;
  }
}

.ingredients {

  display: flex;
  flex-wrap: wrap;

  .ingredient {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    img {
      height: 80px;
      width: 80px;
      margin-bottom: 30px;
      object-fit: contain;
    }

    label {
      color: $secondary-font-color;
      text-align: center;
      display: block;
      position: relative;

      &:before {
        position: absolute;
        content: " ";
        top: -15px;
        height: 3px;
        width: 40px;
        background-color: $primary-color;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &-section {
    padding: 32px 80px;
    width: 100%;
  }
}
